body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h1 {
    margin:0;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

h3 {
    font-size: 1.05rem;
}

img {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: 2rem;
    color: #fff;
}

ol {
    margin: 0;
    padding: 0;
}