body {
    display: grid;
}

header {
    justify-self: center;
    padding: 1rem 0;
}

.localisation {
    text-align: center;
    background-color: #eaeaea;
    box-shadow: inset 0 4px 4px -4px #cfcfcf;
    padding: .8rem 0;

    .fa-map-marker-alt {
        margin-right: 1rem;
    }

    p {
        margin: 0;
        font-weight: 500;
    }
}

.reservation {
    background-color:$light-gray;
    text-align: center;
    padding: 2rem 0 3rem 0;

    h2 {
        line-height: 1.2;
    }

    h3 {
        font-weight: 300;
        font-size: 0.9rem;
    }

    .btn {
        background: rgb(255,121,218);
        background: linear-gradient(120deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    }
}

.operation {
    text-align: center;
    margin: 3rem 0;
    padding: 0 1rem;
    h2 {
        text-align: left;
        margin-left: .5rem;
    }

    ol {
        counter-reset: step;
        padding: 0 1rem;

        li {
            background-color: $light-gray;
            box-shadow: 3px 4px 7px 0 #e6e6e6;
            padding: 1.5rem 1rem;
            border-radius: 1rem;
            list-style-type: none;
            margin-bottom: 2rem;
            counter-increment: step;
            position: relative;
            text-align: left;
            font-size: .9rem;
            font-weight: 500;
    
            &::before {
                content: counter(step);
                padding: 2px 8px;
                position: absolute;
                top: 25px;
                left: -10px;
                background-color: $purple;
                color: white;
                border-radius: 50%;
                font-size: 0.8rem;
            }

            &:hover {
                background-color: #f5edff;
            }
        }
    }

    .fas {
        width: 20px;
        margin: 0 25px 0 20px;
        text-align: center;
        color: #7e7e7e;
        font-size: 1.1rem;
    }
}

.restaurant {
    background-color: $light-gray;
    padding: 1.5rem;

    a {
        color: black;
        text-decoration: none;
    }

    .card {
        background-color: white;
        border-radius: 1rem;
        margin: 1rem 0;

        img {
            border-radius: 1rem 1rem 0 0;
        }
    }

    .card-details {
        display: flex;
        padding: 1rem;
        justify-content: space-between;

        .fa-heart {
            font-size: 1.4rem;

            &:hover {
                background-color: $purple;
            }
        }
    }

    .card-title {
        h3, 
        p {
            margin: 0;
        }

        h3 {
            line-height: 1.2;
        }
    }
}


footer {
    background-color: #353535;
    color: white;
    padding: 1.5rem;

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.1rem;
    }

    ul {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            font-weight: 500;
            margin-bottom: .3rem;

            .fas {
                font-size: .8rem;
                
            }
            .fa-utensils {
                margin-right: .5rem;
            }
            .fa-hands-helping {
                margin-right: .2rem;
            }
        }
    }


}